:root {
  --color-primary: hsl(257, 98%, 59%);

  --color-white: #fff;
  --color-text: var(--color-grey-05);

  --color-grey-h: 220;
  --color-grey-s: 10%;

  --color-grey-05: hsl(var(--color-grey-h), var(--color-grey-s), 5%);
  --color-grey-10: hsl(var(--color-grey-h), var(--color-grey-s), 10%);
  --color-grey-15: hsl(var(--color-grey-h), var(--color-grey-s), 15%);
  --color-grey-20: hsl(var(--color-grey-h), var(--color-grey-s), 20%);
  --color-grey-25: hsl(var(--color-grey-h), var(--color-grey-s), 25%);
  --color-grey-30: hsl(var(--color-grey-h), var(--color-grey-s), 30%);
  --color-grey-35: hsl(var(--color-grey-h), var(--color-grey-s), 35%);
  --color-grey-40: hsl(var(--color-grey-h), var(--color-grey-s), 40%);
  --color-grey-45: hsl(var(--color-grey-h), var(--color-grey-s), 45%);
  --color-grey-50: hsl(var(--color-grey-h), var(--color-grey-s), 50%);
  --color-grey-55: hsl(var(--color-grey-h), var(--color-grey-s), 55%);
  --color-grey-60: hsl(var(--color-grey-h), var(--color-grey-s), 60%);
  --color-grey-65: hsl(var(--color-grey-h), var(--color-grey-s), 65%);
  --color-grey-70: hsl(var(--color-grey-h), var(--color-grey-s), 70%);
  --color-grey-75: hsl(var(--color-grey-h), var(--color-grey-s), 75%);
  --color-grey-80: hsl(var(--color-grey-h), var(--color-grey-s), 80%);
  --color-grey-85: hsl(var(--color-grey-h), var(--color-grey-s), 85%);
  --color-grey-90: hsl(var(--color-grey-h), var(--color-grey-s), 90%);
  --color-grey-95: hsl(var(--color-grey-h), var(--color-grey-s), 95%);

  --color-success: hsl(137, 20%, 75%);
  --color-error: hsl(354, 30%, 75%);
  --color-warning: hsl(26, 95%, 65%);
}
