.footer {
  padding: 1rem;

  color: var(--color-grey-95);
  font-size: 1.2rem;
  text-align: center;

  background-color: var(--color-grey-15);

  .container {
    width: 114rem;
    max-width: 98%;
    margin: 0 auto;
  }
}
